.about-page{
    display: flex;
    padding-top: 15vh;
    height: fit-content;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Opening Section */
.open-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-pic-container{
    width: fit-content;
    justify-self: center;
}
.profile-pic-container img{
    height: 31vh;
    width: 31vh;
    margin-bottom: 5vh;
    border-radius: 50%;
    border: 3px solid lavender;
    object-fit: cover;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.open-desc{
    justify-self: center;
    font-size: 3.6vh;
    font-weight: 500;
    width: 72%;
    text-align: center;
    color: rgba(29, 29, 29, 0.8);
    .highlighted{
        font-weight: 700;
        color: rgb(20, 34, 54);
    }
}

/* Education Section */
.edu-section{
    display: flex;
    flex-direction: column;
    max-width: 80%;
}
.edu-timeline{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 7vh;
}

.timeline-event{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25vh;
    height: fit-content;
}
.event-img img{
    height: 8vh;
    width: 8vh;
    border-radius: 50%;
    border: 4px solid;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.timeline-event > .school-name{
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 15px;
}
.event-mark{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.time-mark, .time-line, .event-time{
    opacity: 50%;
}
.time-mark{
    height: 1vh;
    width: 1vh;
    border-radius: 50%;
    border: 2px solid grey;
}
.time-line{
    border: 1px solid grey;
    flex: 1;
}

.event-time, .event-desc{
    margin-top: 5px;
    font-size: 15px;
    max-width: 170px;
    font-style: italic;
}
.event-time{
    margin: 5px 100px;
    width: max-content;
}
.event-desc{
    text-align: center;
    font-weight: 500;
    color: var(--not-navy);
}

/* School Exp (in Edu Section)*/
.school-exp-container{
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 90%;
    border-radius: 10px;
    font-size: x-large;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.school-logo-area{
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-weight: 500;
    color: var(--primary-gray);
    
    .school-period{
        opacity: 80%;
    }
}
.school-logo img{
    object-fit: contain;
    width: 15vh;
}
.exps{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
    padding: 3vh 1vh 3vh 2vh;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.exp-text{
    font-weight: 400;
    color: rgba(82, 85, 100) ;
    list-style: inside circle;
    margin-right: 1vw;
}
.exp-text > .keywords{
    font-weight: 600;
    color: #136fc5d2;
}

/* Skills Section */
.skills-section{
    width: 85%;
    display: flex;
    justify-content: center;
    gap: 6vw;
    flex-wrap: wrap;
}
.skill-block{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skill-block > img{
    height: 10vh;
    width: 10vh;
    padding: 1.5vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 50%;
}
.skill-block > p{
    margin-top: 1.2vh;
    font-size: 2.5vh;
    font-weight: 500;
    color: var(--not-navy);

}
/* Style for HTML/CSS block */
.diagonal-container {
  position: relative;
  width: 10vh;
  height: 10vh;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 50%;
  
}
.icon {
  position: absolute;
  width: 10vh;
  height: 10vh;
  object-fit: cover;
  padding: 1.5vh;
}
.icon-left {
  clip-path: polygon(0 0, 100% 0, 0 100%);
}
.icon-right {
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
}