.navbar{
    width: 100%;
    height: 9vh;
    display: flex;
    position: fixed;
    justify-content: center;
    z-index: 9998;
}
.navbar > .logo-container{
    position: fixed;
    width: 100vw;
}
.navbar > .logo-container img{
    margin-left: 50px;
    object-fit: cover;
    margin-top: 1vh;
    width: 5vw;
    height: 8vh;
}
.navbar ul{
    display: flex;
    flex-direction: row;
    padding: 0px 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--primary-beige);
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    z-index: 9999;
}
.navbar ul li{
    list-style-type: none;
    padding: 5px 15px;
    margin: 10px 10px;
    font-size: 20px;
}
a{
    color: var(--not-black);
    text-decoration: none;
    font-weight: bold;
}
a.active{
    color: var(--lighter-red);
}
a:hover{
    color: var(--lighter-red);
    opacity: 70%;
}